@import url('podstawa.css');


#main {
    margin-top: 5vw;
}

#main_img {
    width: 70vw;
    filter: grayscale(70%);
}


.podpis {
    border-top: 1vw solid var(--f1-red);
    margin-top: -0.5vw;
    width: 69.85vw;
    border-left: var(--f1grey) solid 0vw;
    border-right: var(--f1grey) solid 0.15vw;
    border-bottom: var(--f1grey) solid 0.15vw;
    border-bottom-right-radius: 1vw;
}