@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');


:root {
    --f1-red: #df0601;
    --f1white: #fdfdfe;
    --f1grey: rgba(164, 163, 163, 0.615);
}

body {
    margin: 0px;
    background-color: #FDFDFEFF;
    line-height: 1.2vw;
    letter-spacing: 0.2px;
}

* {
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: var(--f1-red);
}

body::-webkit-scrollbar {
    display: none;
}


#menu {
    position: fixed;
    background-color: var(--f1-red);
    color: rgb(225, 214, 214);
    width: 100%;
    height: 2.8vw;
    overflow: hidden;
    text-align: center;
    top: 0;
}


button.menu {
    margin: 0.1vw;
    background-color: var(--f1-red);
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    border: none;
    width: 17vw;
    margin: 0px;
    height: 2.8vw;

}

button.menu:hover {
    /* margin-top: -0.15vw;
  border: none;
  text-decoration: none;
  border: 0.15vw solid var(--f1white);
  border-top-right-radius: 3.9vw;
  border-left: 0px;
  border-bottom: 0px;
  transition: 0.6s ease-in-out; */

    cursor: pointer;
}

/* #main {
    margin-top: 5vw;
} */