@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');


/* :root {
    --f1-red: #df0601;
    --f1white: #f1f1f1;
    --f1grey: rgba(164, 163, 163, 0.615);
} */


.theme-light {
    --background: #d2d2d2;
    --font: #000000;
    --border: rgba(164, 163, 163, 0.615);
    --red: #df0601;
    --opposite: #333333;
}

.theme-dark {
    --background: #333333;
    --font: #f1f1f1;
    --border: rgba(164, 163, 163, 0.615);
    --red: #df0601;
    --opposite: #d2d2d2;
}

body {
    margin: 0px;
    background-color: var(--background);
    line-height: 1.2vw;
    letter-spacing: 0.01vw;
}

* {
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: var(--red);
}

body::-webkit-scrollbar {
    display: none;
}


#menu {
    z-index: 20;
    position: sticky;
    background-color: var(--red);
    color: white;
    width: 100%;
    height: 2.8vw;
    overflow: hidden;
    text-align: center;
    top: 0vw;
}


button.menu {
    margin: 0.1vw;
    background-color: var(--red);
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    border: none;
    width: 17vw;
    margin: 0px;
    height: 2.8vw;

}

button.menu:hover {
    /* margin-top: -0.15vw;
  border: none;
  text-decoration: none;
  border: 0.15vw solid var(--f1white);
  border-top-right-radius: 3.9vw;
  border-left: 0px;
  border-bottom: 0px;
  transition: 0.6s ease-in-out; */

    cursor: pointer;
}

/* #main {
    margin-top: 5vw;
} */

#switch {
    background-color: var(--red);
    color: var(--opposite);
    width: 5vw;
    height: 2.8vh;
    border: 0vw;
    font-size: 1.5vw;
}
