@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');


/* :root {
    --f1-red: #df0601;
    --f1white: #f1f1f1;
    --f1grey: rgba(164, 163, 163, 0.615);
} */


.theme-light {
    --background: #d2d2d2;
    --font: #000000;
    --border: rgba(164, 163, 163, 0.615);
    --red: #df0601;
    --opposite: #333333;
    --lighter: #d2d2d2;
}

.theme-dark {
    --background: #333333;
    --font: #7a7a7a;
    --border: rgba(164, 163, 163, 0.615);
    --red: #df0601;
    --opposite: #d2d2d2;
    --lighter: #5c5c5c;
}
#m {
    display: none;
}
body {
    margin: 0px;
    background-color: var(--background);
    line-height: 1.2vw;
    letter-spacing: 0.01vw;
    overflow-x: hidden;
}

* {
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: var(--red);
}

html::-webkit-scrollbar {
    display: none;
}


#menu {
    z-index: 20;
    position: sticky;
    background-color: var(--red);
    color: white;
    width: 100%;
    height: 6vh;
    overflow: hidden;
    text-align: center;
    top: 0vw;
}

#mobile {
    display: none;
}


button.menu {
    margin: 0.1vw;
    background-color: var(--red);
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    border: none;
    width: 17vw;
    margin: 0px;
    height: 2.8vw;

}

button.menu:hover {
    /* margin-top: -0.15vw;
  border: none;
  text-decoration: none;
  border: 0.15vw solid var(--f1white);
  border-top-right-radius: 3.9vw;
  border-left: 0px;
  border-bottom: 0px;
  transition: 0.6s ease-in-out; */

    cursor: pointer;
}

/* #main {
    margin-top: 5vw;
} */

#switch {
    background-color: var(--red);
    color: var(--opposite);
    width: 5vw;
    height: 2.8vh;
    border: 0vw;
    font-size: 1.5vw;
}


footer {
    background-color: var(--border);
    color: var(--background);
    font-size: 1vw;
    height: 15vh;
    margin-bottom: -5vw;
}

footer p {
    margin-left: 1vw;
    padding-top: 1vw;
}

@media screen and (max-width: 768px) {

    #m {
        display: block;
        margin-top: 0.5vh;
        background-color: var(--red);
        color: white;
        text-decoration: none;
        font-size: 1.8vw;
        border: none;
        width: 17vw;
        margin: 0px;
        height: 2.8vw;
    }
    button.menu {
        display: none;
    }

    #menu {
        display: none;
    }

    #mobile {
        display: block;
        margin-top: 0.5vh;
        background-color: var(--red);
        color: white;
        text-decoration: none;
        font-size: 5vw;
        border: none;
        width: 100%;
        margin: 0px;
        height: 6vw;
    }
    #mbtn {
        background-color: var(--red);
        color: var(--font);
        border: 0;
        margin-bottom: 0;
    }



    center div {
        margin: 2.5vh;
    }


        #container {
            display: none;
            background-color: var(--red);
            padding-top: 1vh;
            z-index: 19;
            position: relative;
            width: 100vw;
            height: 20vh;
            /* margin: auto; */
        }
    #glowna {
        margin-top: 3vh;
    }


    .buttonmobile {
        background-color: var(--red);
        border: 0vw;
        color: white;
        height: 1vh;
        width: 100%;
    }

}