@import url('podstawa.css');

body {
  background-color: var(--background);
}
#main {
  margin-top: 2vw;
}

.article {
  float: left;
  background-color: var(--background);
  color: var(--font);
  width: 26vw;
  height: 80%;
  margin-left: 7vw;
  border: 1vw solid var(--red);
  border-top-right-radius: 4.5vw;
  border-left: 0vw;
  border-bottom: 0px;
  line-height: 2.7vw;
}


img.article {
  height: 80%;
  width: 80%;
  border-radius: 1.6vw;
  margin-top: 3.5vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
  border: 0px;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  border-spacing: 12vw;
}

.article:hover img {

  width: 85%;
  height: 85%;
  margin-top: 2vw;
  margin-left: 1.75vw;
}

.article h2 {
  font-size: 3vw;
  line-height: 3.5vw;
  color: var(--font);
}

.article p {
  font-size: 1.5vw;
  color: var(--font);
}
/*///////////////////////////////////////////////////////////*/


.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--font);
}

.grid2x2>div {
  display: flex;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  /* flex-basis: calc(50% - 40px); */
  width: 25vw;
  height: 40vh;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 2vw;
  margin-top: -0.3vw;
}

.grid2x2>div>div {
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
  margin-left: 2vw;
}

.grid2x2>div>img {
  width: 18vw;
  height: 23vh;
  align-self: center;
  margin-top: 0.5vw;

}



.box {
  background-color: var(--background);
  border-right: var(--border) solid 0.15vw;
  border-bottom: var(--border) solid 0.15vw;
  border-bottom-right-radius: 3vw;
  transition: ease-in 0.2s;
}

.box img {
  filter: blur(0.05vw) grayscale(50%);
  transition: all ease-in-out 0.15s;
}

.box:hover {
  border-color: rgba(255, 0, 0, 0.787);
}

.box:hover img {
  filter: blur(0) grayscale(0);

  transform: scale(1.05);
}

/* .box:hover h3 {
  margin-top: 1.4vw;
  font-size: 1.4vw;
  transition: 0.1s ease-out;

}

.box:hover p {
  font-size: 1vw;
  transition: linear 0.1s;
} */










/* /////////////////////////////////////////////////////////////////////*/





h3 {
  font-size: 1.2vw;
}

p {
  font-size: 0.9vw;
}









@media screen and (max-width: 768px) {

    .article {
      margin: auto;
      position: static;
        float: left;
        background-color: var(--background);
        width: 90%;
        height: 80%;
        margin-left: 7vw;
        border: 1vw solid var(--red);
        border-top-right-radius: 4.5vw;
        border-left: 0vw;
        border-bottom: 0px;
        line-height: 2.7vw;
      }
    
    
      img.article {
        height: 95%;
        width: 90%;
        border-radius: 1.6vw;
        margin-top: 3.5vw;
        margin-left: 2vw;
        margin-bottom: 2vw;
        border: 0px;
        transition: all;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        border-spacing: 12vw;
      }

      .article h2 {
        font-size: 5vw;
      }

      .article p {
        font-size: 3vw;
        line-height: 4vw;
      }







      /* //////////////////////////////////////// */







            .grid2x2 {
              float: left;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
            }

            .grid2x2 div {
              position: relative;
              width: 90%;
              height: 90%;
              display: flex;
              margin-left: 2.5vw;
              margin-right: 2.5vw;
              width: 44%;
              height: 42vw;
              flex-direction: column;
              margin-bottom: 5vw;
              margin-top: -0.3vw;
                
            }
      
            .grid2x2>div>img {
              width: 40vw;
              height: 15vh;
              align-self: center;
              margin-top: 0.5vw;
              filter: blur(0) grayscale(0);
            }
      
            .box {
              background-color: var(--background);
              border-right: var(--border) solid 0.15vw;
              border-bottom: var(--border) solid 0.15vw;
              border-bottom-right-radius: 3vw;
              transition: ease-in 0.2s;
            }
      
            .box:hover {
              border-color: rgba(255, 0, 0, 0.787);
            }






h3 {
  font-size: 3vw;
  line-height: 2.75vw;
  margin-right: -20vw;
  margin-bottom: -0.6vw;
}

.box>div>p {
  font-size: 2.5vw;
  line-height: 3vw;
  margin-right: -21.5vw;
  margin-bottom: -10vw
}




}